
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Region1.Region.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AndExteriors.Region1.RegionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>